@using PhoneBook.Core.Models
<div class="jumbotron" >
    <h1>Greatest in world application for Big Bosses!</h1>
    <p class="lead">Helpful application for every ruller who want's know everyrhing about he's employee.</p>
    <p><a href="#something" id="tstbtnPlumb" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hello Boss!</h2>
        <p>Our app will be useful for learning what's making you human!</p>
        <p><a class="btn btn-default" href="#SomeInfo">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>It's easy, yep!</h2>
        <p>After registration, u will be brought to amazing word of graphics and calanders and all this just with one-two clicks! Yep, this is real!</p>
        <p><a class="btn btn-default" href="#ShowThis">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Work - Everywhere!</h2>
        <p>Application works on all actual platforms and browsers! U can enjoy us app from your gold iPhone of course!</p>
        <p><a class="btn btn-default" href="#SomithingShow">Learn more &raquo;</a>
        </p>
    </div>
</div>

<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>